@{
    ViewData["Title"] = "Admin Access";
}
<h2>*Insert Title Here* Admin</h2>

<p>Welcome to the administrative view! In addition to having access to the entire database 
    you have the ability to add, modify, or in rare cases delete data.</p>

<a asp-controller="Account" asp-action="AdminSummary">Update Database</a>
<a asp-controller="Account" asp-action="AddAccident" class="btn btn-primary">Add Accident</a>




