@page "/admin/crashes/details/{id:long}" 

<h3>Details</h3>

<table class="table table-sm table-bordered table-striped">
    <tr><th>Crash ID:</th><td></td></tr>
</table>

<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/crashes">Back</NavLink>

@code {
    [Inject]
    public IcrashRepository repo { get; set; }
    [Parameter]
    public long Id { get; set; }
    public crash c { get; set; }
    protected override void OnParametersSet()
    {
        c = repo.crashes.FirstOrDefault(x => x.CRASH_ID == Id);
    }

    public string EditUrl => $"/admin/crashes/edit{c.CRASH_ID}";
}
