@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Utah Crashes Database</h1>
    <p>The data set is from The Crash Studies Team at UDOT's Traffic & Safety Division maintains a detailed database of all crashes on public roadways in Utah. This data is used to report safety trends, identify potential safety improvement projects, and allocate limited funding to projects that will have the greatest impact on safety. This data and all UDOT Safety Program information are protected under 23 USC 409 and therefore inadmissible in court.</p>
</div>
