
@{
    ViewData["Title"] = "Summary";
}

@model List<Crash>


<table class="table table-bordered table-striped">

    <thead class="font-weight-bold">
        <tr>
            <td>Crash Id</td>
            <td>Date</td>
            <td>Route</td>
            <td>Milepoint</td>
            <td>Latitude</td>
            <td>Longitude</td>
            <td>Main Road</td>
            <td>City</td>
            <td>County</td>
            <td>Severity</td>
            <td>Work Zone Related?</td>
            <td>Pedestrian Involved?</td>
            <td>Bicyclist Involved?</td>
            <td>Motorcycle Involved?</td>
            <td>Improper Restraint?</td>
            <td>Unrestrained?</td>
            <td>DUI?</td>
            <td>Intersection Related?</td>
            <td>Wild Animal Related?</td>
            <td>Domestic Animal Related?</td>
            <td>Overturn Rollover?</td>
            <td>Commercial Motor Vehicle Involved?</td>
            <td>Teenage Driver Involved?</td>
            <td>Older Driver Involved?</td>
            <td>Night Dark Condition?</td>
            <td>Single Vehicle?</td>
            <td>Distracted Driving?</td>
            <td>Drowsy Driving?</td>
            <td>Roadway Departure?</td>

        </tr>
    </thead>

    <tbody>


    </tbody>

</table>